@using Kartverket.Geonorge.Download.Helpers﻿
<!DOCTYPE html>
<html class=" js flexbox no-flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="@Html.KartkatalogenUrl()Content/img/favicon.ico" />


    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        Nedlasting
    </title>
    <!-- Stylesheets -->
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")
    <!-- Scripts -->
    <script>
        var applicationEnvironment = '@Html.EnvironmentName()';
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';
    </script>

    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/js/scripts")

</head>

<body class="geonorge-container prototype  geonorge ng-scope" ng-app="geonorge">

    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_SharedMenu.min.cshtml")
    <div class="body-content">
        <div class="container container-breadcrumbs" id="navTabCont">
            <ul class="breadcrumbs col-md-12">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="@Html.GeonorgeUrl()for-utviklere/">For utviklere</a></li>
                <li><a href="@Html.GeonorgeUrl()for-utviklere/APIer-og-grensesnitt/">API-er og grensesnitt</a></li>
                <li><a href="/">Nedlasting API</a></li>
                @RenderSection("breadcrumb", false)
            </ul>
        </div>

        @if (TempData["success"] != null)
            {
            <div class="alert alert-success">
                @TempData["success"]
            </div>
        }
        @if (TempData["failure"] != null)
            {
            <div class="alert alert-danger">
                @TempData["failure"]
            </div>
        }

        <div class="body-content">
            <div class="container">
                @RenderBody()
            </div>

        </div>

    </div>
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.cshtml")
</body>
</html>
