@page "/error/not-found"
@using Geonorge.Download.Resources
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<UI> Localizer
@inject NavigationManager Nav

<div class="container page-not-found-container">

    <div class="illustration col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <div class="illustration-text col-12">
            <p>@UI.NotFoundText</p>
        </div>

        <img src="@AssetUrl("Static/img/404_illustration-01.svg")"
             alt="404 illustration" class="img-fluid mb-4" />

        <div class="help-links row text-center g-3 g-sm-4 mt-5">
            <div class="col-12 col-sm-4 mt-5">
                <a class="d-block position-relative p-1 text-decoration-none" href="@HomeUrl()">
                    <div class="help-links-icon-container mx-auto mb-1">
                        <img src="@AssetUrl("Static/img/404_house_icon_968c83_35px-01.svg")"
                             class="icon-house" alt="@UI.Home" />
                    </div>
                    <p class="m-0">@UI.Home</p>
                    <span class="stretched-link" aria-hidden="true"></span>
                </a>
            </div>

            <div class="col-12 col-sm-4 mt-5">
                <a class="d-block position-relative p-1 text-decoration-none" href="mailto:@Configuration["WebmasterEmail"]">
                    <div class="help-links-icon-container mx-auto mb-1">
                        <img src="@AssetUrl("Static/img/404_envelope_icon_968c83_30px-01.svg")"
                             class="icon-envelope" alt="@UI.ContactUs" />
                    </div>
                    <p class="m-0">@UI.ContactUs</p>
                    <span class="stretched-link" aria-hidden="true"></span>
                </a>
            </div>

            <div class="col-12 col-sm-4 mt-5">
                <a class="d-block position-relative p-1 text-decoration-none" href="@SearchUrl()">
                    <div class="help-links-icon-container mx-auto mb-1">
                        <img src="@AssetUrl("Static/img/404_magnifying_icon_968c83_34px-01.svg")"
                             class="icon-magnifying-glass" alt="@UI.SearchFor" />
                    </div>
                    <p class="m-0">@UI.SearchFor</p>
                    <span class="stretched-link" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    private string AssetUrl(string relative) =>
        CombineUrl(EnsureTrailingSlash(Configuration["GeonorgeUrl"])!, relative);

    private string HomeUrl() => "/";

    private string SearchUrl()
    {
        var kk = EnsureTrailingSlash(Configuration["KartkatalogenUrl"]);
        return kk is not null ? CombineUrl(kk, "search") : "/search";
    }

    private static string? EnsureTrailingSlash(string? u)
        => string.IsNullOrWhiteSpace(u) ? null : (u!.EndsWith("/") ? u : u + "/");

    private static string CombineUrl(string baseUrl, string relative)
        => baseUrl.EndsWith("/") ? baseUrl + relative.TrimStart('/') : baseUrl + "/" + relative.TrimStart('/');
}