@model IEnumerable<Kartverket.Geonorge.Download.Models.MachineAccount>

@{
    ViewBag.Title = "Konfigurasjon av lokale påloggingskontoer";
}

<h2>@ViewBag.Title</h2>

<p>
    Kontoene som er registrert her kan benyttes til å laste ned datasett som er "Norge digitalt begrenset" ved hjelp av Basic Authentication. Alle API-metoder i Nedlastingsløsningen vil kunne benyttes ved hjelp av disse påloggingsdetaljene.
    Vær oppmerksom på å benytte en sikker kommunikasjonskanal for å distribuere passord til brukeren.
</p>
<p>
    @Html.ActionLink("Opprett ny konto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Username }) |
            @Html.ActionLink("Details", "Details", new { id=item.Username }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Username })
        </td>
    </tr>
}

</table>
