@model Kartverket.Geonorge.Download.Models.Order

<h2>Ordre @Model.referenceNumber</h2>

<div>
    <hr/>
    <ul>
        @foreach (var item in Model.orderItem)
        {
            <li class="list-group">
                @if (item.IsReadyForDownload())
                {
                    <a href="@ViewBag.ApiMethodGetFile/@item.Order.Uuid/@item.Uuid">@item.MetadataName: @item.FileName</a>
                }
                else
                {
                    @item.MetadataName <text>(venter på behandling)</text>
                }
            </li>
        }
    </ul>
</div>
